/* ------------- CSS Colors --------------*/
:root {
    --bg-color: #fff;
    --main-color: #000;
    --alt-color: #00f;
    --solve-color: #007bff;
    --reset-color: #ff0054;
    --text-color: #fff;
}

/* ----------- Global Settings ----------- */
* {
    padding: 0;
    margin: 0;
}

* {
    transition: 2s background-color, 2s color, 2s border-color;
}

body {
    background-color: var(--bg-color);
}

.hr {
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    margin: 20px 0;
}

/* ---------------- Table Design ------------- */
.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ----------------- Title Design ------------ */
.main h3 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 2rem;
}

.main table {
    border: 2px solid var(--main-color);
    display: inline-block;
    border-collapse: collapse;
    background-color: var(--bg-color);
}

.main table td {
    border: 1px solid var(--main-color);
    text-align: center;
    vertical-align: middle;
    background-color: var(--bg-color);
}

.main table input {
    color: var(--main-color);
    padding: 0;
    border: 0;
    text-align: center;
    width: 36px;
    height: 36px;
    font-size: 18px;
    background-color: var(--bg-color);
    outline: none;
}

.main table .blue {
    color: var(--alt-color);
}

.main table .top-border {
    border-top: 2px solid var(--main-color);
}

.main table .right-border {
    border-right: 2px solid var(--main-color);
}

.main table .bottom-border {
    border-bottom: 2px solid var(--main-color);
}

.main table .left-border {
    border-left: 2px solid var(--main-color);
}

.main #num {
    display: inline-block;
}

/* -------- Solutions Navigation Buttons ---------- */
.main #prev {
    display: inline-block;
    top: 50%;
    position: absolute;
    transform: translate(-50px, -65%);
    font-size: 36px;
    display: none;
    color: var(--main-color);
}

.main #next {
    display: inline-block;
    top: 50%;
    position: absolute;
    transform: translate(32px, -65%);
    font-size: 36px;
    display: none;
    color: var(--main-color);
}

/* ----------- Solve/Reset Buttons ----------- */

.main .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: var(--main-color);
}

.main p {
    padding: 5px 20px;
}

.main .buttons .solve {
    background-color: var(--solve-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.main .buttons .reset {
    background-color: var(--reset-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.img-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img-buttons button,
.img-buttons label {
    border: solid var(--solve-color) 2px;
    color: var(--solve-color);
    background: var(--bg-color);
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
    font-size: 100%;
    display: inline-block;
}

.img-buttons #file-upload {
    display: none;
}

.main .buttons .solve:hover,
.main .buttons .reset:hover,
.camera-btn:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.camera-modal {
    position: fixed;
    top: -150%;
    right: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.2);
}

.camera-modal.active {
    top: 0;
}

.camera-modal .modal-container {
    margin: 20px auto;
    max-width: 800px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
}

.camera-modal .modal-title {
    color: var(--main-color);
}

.camera-modal #camera-player {
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.camera-modal .capture-btn {
    background-color: var(--solve-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    gap: 5px;
    display: flex;
    align-items: center;
}

/* -------------------------------
------------- Themes -------------
------------------------------- */
.theme {
    position: fixed;
    padding: 20px;
    color: var(--main-color);
    right: 0;
}

/* -------------------------------
--------- Error Message ----------
------------------------------- */
.error {
    position: fixed;
    top: -70px;
    opacity: 0;
    left: 0;
    right: 0;
    transition-property: top, opacity;
    transition: 0.5s;
}

.error .error-msg {
    background-color: #dc3545;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    width: fit-content;
    border-radius: 10px;
}

.error.active {
    top: 100px;
    opacity: 1;
}

/* -------------------------------
--------- Loading spinner --------
------------------------------- */
.loader {
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid var(--solve-color);
    /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spinner 2s linear infinite;
    display: block;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    .main>div {
        transform: scale(0.8);
    }
}