<tr>
    <td><input class="b-top b-left" type="number" autocomplete="off"></td>
    <td><input class="b-top" type="number" autocomplete="off"></td>
    <td><input class="b-top b-right" type="number" autocomplete="off"></td>

    <td><input class="b-top b-left" type="number" autocomplete="off"></td>
    <td><input class="b-top" type="number" autocomplete="off"></td>
    <td><input class="b-top b-right" type="number" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-bottom b-left" type="number" autocomplete="off"></td>
    <td><input class="b-bottom" type="number" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="number" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="number" autocomplete="off"></td>
    <td><input class="b-bottom" type="number" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="number" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-top b-left" type="number" autocomplete="off"></td>
    <td><input class="b-top" type="number" autocomplete="off"></td>
    <td><input class="b-top b-right" type="number" autocomplete="off"></td>

    <td><input class="b-top b-left" type="number" autocomplete="off"></td>
    <td><input class="b-top" type="number" autocomplete="off"></td>
    <td><input class="b-top b-right" type="number" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-bottom b-left" type="number" autocomplete="off"></td>
    <td><input class="b-bottom" type="number" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="number" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="number" autocomplete="off"></td>
    <td><input class="b-bottom" type="number" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="number" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-top b-left" type="number" autocomplete="off"></td>
    <td><input class="b-top" type="number" autocomplete="off"></td>
    <td><input class="b-top b-right" type="number" autocomplete="off"></td>

    <td><input class="b-top b-left" type="number" autocomplete="off"></td>
    <td><input class="b-top" type="number" autocomplete="off"></td>
    <td><input class="b-top b-right" type="number" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-bottom b-left" type="number" autocomplete="off"></td>
    <td><input class="b-bottom" type="number" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="number" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="number" autocomplete="off"></td>
    <td><input class="b-bottom" type="number" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="number" autocomplete="off"></td>
</tr>