<tr>
    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>
</tr>
<tr>
    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>

    <td><input class="b-top b-left" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top" type="text" autocomplete="off"></td>
    <td><input class="b-top b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>

    <td><input class="b-left" type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input type="text" autocomplete="off"></td>
    <td><input class="b-right" type="text" autocomplete="off"></td>
</tr>

<tr>
    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>

    <td><input class="b-bottom b-left" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom" type="text" autocomplete="off"></td>
    <td><input class="b-bottom b-right" type="text" autocomplete="off"></td>
</tr>